<html>
    <body>
        <form action='/home' method="POST">
            <p> Enter Name: <input type = "text" name = "person_name" /> </p>
            <br>
            <p> Enter Email: <input type = "text" name = "mail" /> </p>
            <br>
            <p> Enter DOB: <input type = "text" name = "dob" /> </p>
            <br>
            <p> Enter Salary: <input type = "text" name = "ctc" /> </p>
            <br>
            <p> Enter Company ID: <input type = "text" name = "id" /> </p>
            <br> 
            <input type="submit">
        </form>
    </body>
</html>