<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <style>
        .table{
            'border':;
        }
    </style> -->
</head>
<body>

    <table border = 1>
        {% for player,score in  match.items() %}
        <tr>
            <th> {{ player }} </th>
            <th> {{ value }} </th>
        </tr>
        {% endfor %}
    </table>

</body>
</html>